<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="index.js" defer></script>
</head>
<body>
  <div id="app" v-cloak>
    {{greeting}}
    <input type="text"  v-model="greeting" @keyup.enter="enter">
    <button @click="clickOne">Click</button>
    <div class="box1" v-if="isShow"></div>
    <p>{{para}}</p>
    
  </div>
    
 
</body>
</html>


